@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@font-face {
  font-family: "Roboto-serif";
  src: url("./fonts/RobotoSerif.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Parisienne-Regular";
  src: url("./fonts/Parisienne-Regular.ttf");
}

@font-face {
  font-family: "Handlee-Regular";
  src: url("./fonts/Handlee-Regular.ttf");
}

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
}

body {
  background: #9fccce;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.text-nav {
  text-shadow: 2px 2px 2px rgb(64, 63, 63);
}
.img-header {
  background-image: url("./assets/Bridge.webp");
  width: auto;
}
.text-header {
  text-shadow: 2px 2px 2px rgb(64, 63, 63);
}