@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "ProtestRiot-Regular";
  src: url("./fonts/ProtestRiot-Regular.ttf");
}

@font-face {
  font-family: "Parisienne-Regular";
  src: url("./fonts/Parisienne-Regular.ttf");
}

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: white;
  overflow-x: hidden;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
.text-nav {
  text-shadow: 2px 2px 2px rgb(64, 63, 63);
}

.header-care {
  background-image: url("./assets/bg-header.webp");
  width: 100%;
}

